# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
#number of observations
chipo.shape[0]

4622

In [6]:
#show info about the data
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [11]:
most_ordered_item = chipo['item_name'].value_counts().idxmax()

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [39]:
chipo['item_name'].value_counts().max()

726

### Step 11. What was the most ordered item in the choice_description column?

In [14]:
chipo['choice_description'].value_counts().idxmax()

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [17]:
chipo['item_name'].value_counts().sum()

4622

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [18]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [25]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:])  if isinstance(x, str) and len(x) > 1 else x)

#### Step 13.c. Check the item price type

In [26]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [28]:
revenue = chipo['item_price'] * chipo['quantity'].sum()
revenue

0       11883.08
1       16855.08
2       16855.08
3       11883.08
4       84424.56
          ...
4617    58421.00
4618    58421.00
4619    55935.00
4620    43505.00
4621    43505.00
Name: item_price, Length: 4622, dtype: float64

### Step 15. How many orders were made in the period?

In [33]:
num_orders = chipo['order_id'].nunique()
num_orders

1834

### Step 16. What is the average revenue amount per order?

In [37]:
avg = revenue/num_orders
avg

0        6.479324
1        9.190338
2        9.190338
3        6.479324
4       46.033021
          ...
4617    31.854417
4618    31.854417
4619    30.498909
4620    23.721374
4621    23.721374
Name: item_price, Length: 4622, dtype: float64

### Step 17. How many different items are sold?

In [40]:
chipo['item_name'].nunique()

50