## Pandas

### Instructions

This assignment will be done completely inside this Jupyter notebook with answers placed in the cell provided.

All python imports that are needed shown.

Follow all the instructions in this notebook to complete these tasks.    

Make sure the CSV data files is in the same folder as this notebook - alumni.csv, groceries.csv

In [ ]:
# Imports needed to complete this exam
import pandas as pd

### Question 1 :  Import CSV file (1 Mark)


Write code to load the alumni csv dataset into a Pandas DataFrame called 'alumni'.

### Question 2 :  Understand the data set (5 Marks)

Use the following pandas commands to understand the data set: a) head, b) tail, c) dtypes, d) info, e) describe

### Question 3 :  Working with the data set (4)

a) get the median, b) mean and c) standard deviation for the 'Salary' column

# Select row at index 3

# Select rows with over 70,000 on the salary

# Update coulmn values in Marital Status to a charcheter crossponding it's value
for example Single ->S ,Married->M and so on

# Drop the Fee coulmn

# ADD a New row to the data set

# Remove all rows where year geaduated is under 2006